<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>heidi.whiting</title>

	<!-- Bootstrap Core CSS -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="static/css/grayscale.css" rel="stylesheet">
	<link href="static/color/default.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<script> document.createElement("p2"); </script>
	<![endif]-->

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-76874003-1', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- Spam blocker -->
	<script type="text/javascript" src="static/js/spamspan.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-terminal"></i>  <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">about</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">Heidi Whiting</h2>
                        <p class="intro-text">
                        Fan of <a href="https://en.wikipedia.org/wiki/KISS_principle" target="_blank">simplification</a>, white noise, empathy, and enthusiastic learning. Data geek.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center about-size">
        <div class="row">
                <h2>About</h2>
                	<img src="static/img/me.jpg" class="img-circle" alt="Me!" height=200>
                	<p style="padding-left:25px; padding-right:25px;">
                	I'm Heidi Whiting, a data scientist based in <i>Seattle, Washington</i>.
                	</p>
        </div>
    </section>

    <!-- Portfolio Section -->
<section id="portfolio" class="container content-section portfolio-size">
    <div class="col-sm-6">
	<h3>Current work</h3>
	<p>
	<strong>Data Scientist II, June 2015 - Present</strong>
	<br><i>Nordstrom, Inc., Seattle, Wa</i>
	<br> <br>
	In my current role, I lead analyses from start to finish in support of marketing while leveraging new tools, refining documentation, and automating processes wherever possible.

	In my spare time, I'm engaged in
	<ul style="font-size:16px;">
	<li>studying for my <a href="https://www.coursera.org/specializations/machine-learning" target="_blank">Coursera Machine Learning Specialization</a>;</li>
	<li>summarizing all <a href="https://www.overleaf.com/read/ndqcxvkpcvwj" target="_blank">my notes in LaTeX</a>;</li>
	<li>volunteering with <a href="http://www.collegeaccessnow.org/" target="_blank">College Access Now</a> to mentor college students in professional development;</li>
	<li>attending technology meetups around Seattle; and</li>
	<li>reading blogs, stackoverflow posts, and github repositories in an attempt to keep up with the myriad new packages and tools that are being released from the open source community.</li>
	</ul>
	<br>
	 <div class="text-center">
	        <a href="https://www.linkedin.com/in/heidiwhiting" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
	 </div>
	 </p>
	<h3>Research</h3>
	<p>
	I have participated in a number of research projects, some of which are listed below. My work for these primarily involved gathering, cleaning, and preparing data for analysis according to study objectives.
	</p>
	<p style="font-size:14px;">
	Hutton, Jessica et al. 2015. <i>Analysis of naturalistic driving study data: offset left-turn lanes</i>. Kansas City, Mo: MRIGlobal
	<br>
	<a href="http://onlinepubs.trb.org/onlinepubs/shrp2/SHRP2_S2-S08B-RW-1.pdf" target="_blank">Link</a>
	<br><br>
	Miglioretti, Diana et al. 2015. <i>Breast Tumor Prognostic Characteristics and Biennial vs Annual Mammography, Age, and Menopausal Status.</i> Breast Cancer Surveillance Consortium.
	<br>
	<a href="http://www.ncbi.nlm.nih.gov/pubmed/26501844" target="_blank">Link</a>
	<br><br>
	Kerlikowski, Karla et al. 2015. <i>Identifying Women With Dense Breasts at High Risk for Interval Cancer</i>. Breast Cancer Surveillance Consortium.
	<br>
	<a href="http://assets.krebsliga.ch/downloads/identifying_women_with_dense_breasts_at_high_risk_for_interval_cancer.pdf" target="_blank">Link</a>
	</p>

	<h3>Master's Thesis</h3>
	<p style="font-size:14px;">
	Whiting, Heidi and Mitrea, Dorina. 2009. <i>A priori estimates for elliptic partial differential equations on surfaces</i>. Columbia, Mo: University of Missouri--Columbia.
	<br>
	<a href="http://www.worldcat.org/title/priori-estimates-for-solutions-of-elliptic-partial-differential-equations-on-surfaces/oclc/703919842" target="_blank">Link</a>
	</p>
    </div>
    <div class="col-sm-6">
	<h3>Code</h3>
	<p>
	I currently use python for most projects and analyses.
	<br><br>
	I have created this static website from the ground up using the <a href="http://flask.pocoo.org/">python flask</a> web framework, with deployment on heroku. This site is bootstrapped using a modified <a href="http://startbootstrap.com/template-overviews/grayscale/" target="_blank">Grayscale</a> theme.
	<br><br>
	Check out some of my code and projects on <a href="https://github.com/hbergen" target="_blank">GitHub</a>
	</p>
	<h3>Visualizations</h3>
	<p>
	+ <a href="https://github.com/hbergen/python-machine-learning-helpers/blob/master/Seaborn%20Correlation%20Diagonal%20Matrix.ipynb" target="_blank">seaborn</a><br>
	+ <a href="https://public.tableau.com/profile/heidi.whiting" target="_blank">
	Tableau
	</a>
	<br><br>
	  <a href="https://public.tableau.com/profile/heidi.whiting#!/" target="_blank">
	  <img src="static/img/viz2.png" width=100% alt="Example Tableau visualization 1">
	  </a>
	  <br><br>
	  <a href="https://public.tableau.com/profile/heidi.whiting#!/" target="_blank">
	  <img src="static/img/viz1.png" width=100% alt="Example Tableau visualization 2">
	  </a>
	 </p>
    </div>
</section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center contact-size">
      <div class="portfolio-section">
                <h2>contact me</h2>
                <p style="padding-left:20px; padding-right:20px;">
                If you have any questions about my work or just want to say hi, feel free to email me!
                <br><br>
                	<span class="spamspan">
		<span class="u">heidi.a.whiting</span>
		[ at ]
		<span class="d">gmail [dot] com</span>
		</span>
                </p>
        </div>
    </section>

       <footer>
        <div class="footer">
            <p>&copy; Heidi Whiting 2016.
            <br>Fork this site <a href="https://github.com/hbergen/heroku-flask-portfolio">on GitHub</a>!</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>

</body>

</html>
