<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>heidi.whiting</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-terminal"></i>  <span class="light">Home</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">about</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="brand-heading">Heidi Whiting</h2>
                        <p class="intro-text">
                        Fan of <a href="https://en.wikipedia.org/wiki/KISS_principle" target="_blank">simplification</a>, white noise, empathy, and enthusiastic learning. Data geek.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center" width=50%>
        <div class="row">
                <h2>About</h2>
                <p>
                	<img src="static/img/me.jpg" class="img-circle" alt="Me!" height=200px>
                	</p>
                	<br>
                	Hipster ipsums courtesy of hipsum.co.
                	Sartorial tofu tilde, fixie flexitarian gastropub leggings ethical marfa kitsch truffaut gentrify plaid tacos. Roof party paleo heirloom skateboard, yr pour-over organic truffaut master cleanse blue bottle chillwave kinfolk seitan tacos. Small batch kickstarter bitters, tousled bushwick cronut church-key green juice squid YOLO. Pop-up jean shorts pickled knausgaard squid, godard bespoke fap heirloom migas tousled pabst. Migas blog 3 wolf moon pop-up lomo, tofu literally pabst single-origin coffee austin. Twee fap sartorial, DIY brunch disrupt mlkshk yr etsy. Freegan kale chips banjo, blog lomo venmo whatever yr cronut biodiesel photo booth street art bushwick squid ethical.
                	<p>
                	                   <a href="http://www.linkedin.com/heidiwhiting" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="container content-section text-center">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
		  <div class="col-sm-4"><h2>projects</h2>
		  <br>
		  Sartorial tofu tilde, fixie flexitarian gastropub leggings ethical marfa kitsch truffaut gentrify plaid tacos. Roof party paleo heirloom skateboard, yr pour-over organic truffaut master cleanse blue bottle chillwave kinfolk seitan tacos. Small batch kickstarter bitters, tousled bushwick cronut church-key green juice squid YOLO. Pop-up jean shorts pickled knausgaard squid, godard bespoke fap heirloom migas tousled pabst. Migas blog 3 wolf moon pop-up lomo, tofu literally pabst single-origin coffee austin. Twee fap sartorial, DIY brunch disrupt mlkshk yr etsy. Freegan kale chips banjo, blog lomo venmo whatever yr cronut biodiesel photo booth street art bushwick squid ethical.
		  <br>
		  </div>
		  <div class="col-sm-4"> 
		  <h2>code</h2>
		  <br>
		  3 wolf moon messenger bag echo park, selvage cred everyday carry intelligentsia authentic yr leggings neutra four dollar toast banh mi vegan. Dreamcatcher tousled actually fap iPhone, man braid banjo everyday carry. Church-key flexitarian 8-bit gluten-free polaroid, bespoke affogato. Biodiesel keytar DIY, pinterest butcher locavore knausgaard ugh iPhone yr ethical keffiyeh bicycle rights plaid. Ugh blue bottle kogi fap listicle. Shabby chic franzen sustainable 3 wolf moon fixie. Sustainable typewriter health goth church-key, migas lo-fi kale chips letterpress microdosing yr cliche fixie sartorial lomo.
		  <br>
		  </div>
		  <div class="col-sm-4"><h2>visualization</h2>
		  <br>
		  3 wolf moon messenger bag echo park, selvage cred everyday carry intelligentsia authentic yr leggings neutra four dollar toast banh mi vegan. Dreamcatcher tousled actually fap iPhone, man braid banjo everyday carry. Church-key flexitarian 8-bit gluten-free polaroid, bespoke affogato. Biodiesel keytar DIY, pinterest butcher locavore knausgaard ugh iPhone yr ethical keffiyeh bicycle rights plaid. Ugh blue bottle kogi fap listicle. Shabby chic franzen sustainable 3 wolf moon fixie. Sustainable typewriter health goth church-key, migas lo-fi kale chips letterpress microdosing yr cliche fixie sartorial lomo.
		  <br>
		  </div>
            </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="portfolio-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>contact me</h2>
                <p>If you have any questions about my work or just want to say hi, feel free to email me!
                <p><a href="mailto:heidi.a.whiting@gmail.com">heidi.a.whiting@gmail.com</a>
            </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->

     <div id="map" class="center-block"></div>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH07tedBskp9GxbeXz6yGGn1s9bMSdVhw&sensor=false"></script>

    <footer>
        <div class="container text-center">
            <p>&copy; Heidi Whiting 2016. 
            <br>This is a static site built using python flask for heroku deployment, with a modified <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale</a> theme. You can get my code for it <a href="https://github.com/hbergen/heroku-flask-portfolio">here on GitHub.</a></p>
        </div>
    </footer>
    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>

</body>

</html>
